div#comment {
	width: 1024px;
	margin: 0px auto;
}

div.pageBar {
	height: 35px;
	margin: 10px auto;
	clear: both;
}

div.stat {
	display: inline-block;
	margin: 5px;
	font-size: small;
	font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
	color: #C5C5C5;
}

ul.turn {
	margin: 0px;
	padding: 0px;
	float: right;
	list-style: none;
}

ul.turn li {
	display: inline-block;
	margin: 3px;
	font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
	font-size: small;
}

ul.turn li span {
	color: #C4C4C4;
	padding: 2px 4px;
	border: 1px solid #EEEEEE;
}

ul.turn li a {
	cursor: pointer;
	border: 1px solid #00FFFF;
	padding: 2px 4px;
	color: blue;
}

ul.turn li a:hover {
	border-color: #FF00FF;
	color: red;
}

ul.pages {
	margin: 0px;
	float: right;
	list-style: none;
}

ul.pages li {
	display: inline-block;
	margin: 3px;
	padding: 2px;
	font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
	font-size: small;
	color: blue;
}

ul.pages a {
	cursor: pointer;
}

ul.pages a:hover{
	color: red;
}

ul.pages li.current {
	font-weight: bolder;
}

div#commentBody {
	height: 100%;
}

div.comment {
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #C4C4C4;
	margin-bottom: 10px;
}

div.comment div.icon {
	margin-right: 10px;
	margin-bottom: auto;
	float: left;
}

div.comment div.icon img {
	width: 75px;
	height: 75px;
}

div.comment div.name {
	padding: 5px 0px;
	font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
	color: blue;
	font-weight: bold;
}

div.comment div.commentContent {
	padding: 5px 0px;
	font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
}

div.comment div.time {
	margin-left: 85px;
	font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
	color: #C6C6C6;
	font-size: small;
}